{% extends 'base.html' %}

{% block content %}

        {% load crispy_forms_tags %}
        <div class="container pt-5 mt-5 col-md-5" >
            <div class="jumbotron  ">
                      <form method="post"  enctype='multipart/form-data'>
                          <div class="form ">
                              {% csrf_token %}
                              {{form|crispy}}
                               {{extra_form|crispy}}
                               <button type="submit" class="btn btn-danger mb-2">Sign up</button>
                          </div>
                      </form>
            </div>
        </div>

{% endblock %}
